// Fonts
$font-family-body = "Lekton", monospace
$font-family-mono = "Lekton", monospace
$font-family-tt = "Lekton", monospace
$font-size = 14px
$line-height = 1.725

// Colors
$color-background = #ffffff
$color-link = rgba(250, 245, 132, 1) // vimeo: :selection with alpha=1
$color-highlight = rgba(250, 245, 132, 0.93)
$color-text = #000000
$color-light = #1d1f21
$color-lightest = #333333
$color-logo = #434242
$color-accent = #000000
$ease-in-sine = cubic-bezier(0.47, 0, 0.745, 0.715)

// Logo
logo-width = 0px + hexo-config("customize.logo.width")
logo-height = 0px + hexo-config("customize.logo.height")

// Code Highlight
highlight = hexo-config("customize.highlight") || "tomorrow-night"
