<div id="go-top">
   <div class="go-totop wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;"><a class="page-scroll" href="#" onclick="$('html, body').animate({ scrollTop: 0 }, 'fast');"><i class="fa fa-angle-double-up"></i></a></div>
</div>

<footer id="footer">
   <div class="container">
      <p>Copyright &copy; <%= new Date().getFullYear() %> <%= config.author || config.title %> Grzegorz Polek. All Rights Reserved.</p>
      <ul class="footer-social">
         <li><a href="https://www.linkedin.com/in/grzegorzpolek"><i class="fa fa-linkedin wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeInUp;"></i></a></li>
         <li><a href="https://twitter.com/grzegorzpolek"><i class="fa fa-twitter wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.4s; animation-name: fadeInUp;"></i></a></li>
         <li><a href="https://www.facebook.com/grzegorz.polek"><i class="fa fa-facebook wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.8s; animation-name: fadeInUp;"></i></a></li>
      </ul>
   </div>
</footer>
