#footer
  background: #131313
  color: #A7A7A7
  padding: 90px 0 80px 0
  text-align: center

  p
    font-size: 14px
    margin-top: 10px
    letter-spacing: 1px
    padding-bottom: 15px
    text-align: center

  i.fa
    height: 30px
    width: 30px
    font-size: 17px
    padding: 4px 5px
    color: #A7A7A7
    transition: all 0.5s

  i.fa:hover
    color: #888

ul.footer-social

  li
    display: inline-block
    margin-right: 10px

.go-totop
  background-color: #FAF584
  border-radius: 5px
  bottom: auto
  color: #111
  cursor: pointer
  display: block
  font-size: 22px
  height: 72px
  left: 0
  line-height: 72px
  margin: -37px auto
  position: absolute
  right: 0
  text-align: center
  top: auto
  width: 47px
  z-index: 100

  a
    display: block
